.group{
    width: 650px;
    border: 1px dotted blue;
    margin: auto;
    padding: 50px;
    background: #c0d3db;
}
input[type=text]{
    border-radius: 5px;
    width: 300px;
}
input[type=submit]{
    position: center;
    cursor: pointer;
    font: 18px bold;
}
p, span{
    padding: 2px;
    font-size: 18px;
    font-family: Cambria;
}